# PostgreSQL OLTP source
DATABASE_URL=

# freecurrencyapi.com
EXCHANGE_RATE_API_KEY=
EXCHANGE_RATE_BASE_URL=https://api.freecurrencyapi.com/v1/historical
BASE_CURRENCY=GBP
TARGET_CURRENCIES=USD,EUR,CAD,AUD
OUTPUT_PATH=ingestion/api_ingest/output

# Azure
AZURE_TENANT_ID=
ADLS_ACCOUNT_NAME=
ADLS_SERVED_CONTAINER=served

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_ROLE=retail_dev
SNOWFLAKE_WAREHOUSE=retail_dev_wh
SNOWFLAKE_DATABASE=ecommerce_db
SNOWFLAKE_SCHEMA=raw